$buttonbgcolor: #fcc30f;
$buttonborder: 1px solid #d3a103;;
$fontsize: 18px;
$radius: 5px;

a {
    color: #986516;
    text-decoration: none;
    &:hover {
    color: white;
    text-decoration:none;
    cursor:pointer;
}
}



.button {
    &-primary {
        background-color: $buttonbgcolor;
        border: $buttonborder ;
        border-radius: $radius;
        color: #986516;
        display: inline-block;
        padding: 6px 12px;
        margin: 2px;
        font-family: "Open Sans","Lato","Source Sans Pro",sans-serif;
    }
}

.flex_base{
    display: flex;
    flex-direction: column;
}
div {
    &.container{
        @extend .flex_base;
        justify-content: center;
        position: relative;
        overflow-x:hidden;
        margin: auto;

        .container-head {
            @extend .flex_base;
            align-items: center;
            background-color: red;
            position: relative;
            padding: 3px;
            margin: auto;
            width: 70%;

        }

         .container-body {
             display: flex;
             background-color: pink;
             width: 70%;
             margin: auto;


             .container-body-content {
                 display: flex;
                 background-color: blueviolet;
                 flex-direction: column;
                 width: 100%;

                .container-body-head {
                    display: flex;
                    flex-direction: row;
                    width: 100%;

                    > div {
                        background-color: white;
                        flex-direction: column;
                        width: 100%;
                    }

                    .Day {
                        display: flex;
                        border: 2px solid #1565c0;
                        padding: 2px;
                        background-color: orange;
                        flex-direction: column;

                    }

                    .Date {
                        display: flex;
                        background-color: rebeccapurple;
                        padding: 2px;
                        flex-direction: column;
                    }

                    .Morning-Begin {
                        display: flex;
                        background-color: pink;
                        border: 2px solid #1565c0;
                        padding: 2px;
                        flex-direction: column;
                    }

                    .Morning-End {
                        display: flex;
                        background-color: pink;
                        border: 2px solid #1565c0;
                        padding: 2px;
                        flex-direction: column;
                    }

                    .Afternoon-Begin {
                        display: flex;
                        background-color: pink;
                        border: 3px solid black;
                        padding: 2px;
                        flex-direction: column;
                    }

                    .Afternoon-End {
                        display: flex;
                        background-color: pink;
                        border: 4px solid #1565c0;
                        padding: 2px;
                        flex-direction: column;
                    }

                    .Evening-Begin {
                        display: flex;
                        background-color: pink;
                        border: 2px solid #1565c0;
                        padding: 2px;
                        flex-direction: column;
                    }

                    .Evening-End {
                        display: flex;
                        background-color: pink;
                        border: 2px solid #1565c0;
                        padding: 2px;
                        flex-direction: column;
                    }

                    .Total {
                        display: flex;
                        background-color: pink;
                        border: 2px solid #1565c0;
                        padding: 2px;
                        flex-direction: row;
                    }
                }

             }

             .container-body-content{
                 flex: 2;
                 background-color:cornflowerblue;

             }
         }



    }
    &.head
    {
        @extend .flex_base;
        align-items: center;
        background-color: red;
        position: relative;

    }
    //&.body{
    //    @extend .flex_base;
    //    align-content: space-between;
    //    align-items: center;
    //    background-color : pink;
    //
    //     &.heading{
    //
    //        flex: 1;
    //        background-color: red;
    //
    //
    //    }

    //}
}




