body {
    Background-color: red;
}
div .container {
  display: flex; /* or inline-flex */
    background-color: #fcc30f;
}
.head
{
    display: flex;
}

.primary {
    color: #fff;
    background-color: #bf5329;
    border-color: #aa4a24;
}
