[submodule "settings/simple_ldap_lib"]
	path = settings/simple_ldap_lib
	url = https://git.ceas.wmich.edu/Python/SimpleLdapLib.git
[submodule "apps/CICO"]
	path = apps/CICO
	url = git@git.ceas.wmich.edu:Django/CICO.git
[submodule "apps/git"]
	path = apps/git
	url = git@git.ceas.wmich.edu:Django/CICO.git
