# Run via "pip install -r requirements.txt" while in the base project directory.


# -- Python Libraries --
# Core Django framework.
Django==3.0.5
# Support for websocket connections.
channels==2.4.0
channels-redis==2.4.2
# Third party app for admin view customization.
django-modeladmin-reorder==0.3.1
# Third party apps for phone number fields and phone number seeding.
django-phonenumber-field==4.0.0
phonenumbers==8.12.2
faker-e164==0.1.0
# Support for easy model API access.
djangorestframework==3.11.0
# DjangoRest model filtering support.
django-filter==2.2.0
# Faker library for automatic model seeding.
Faker==4.0.3
# Read .xls and .xlsx Excel files (Deprecated, but required for .xls)
xlrd==1.2.0


# -- Packages for Testing --
# Testing with an actual browser, to test JavaScript.
selenium==3.141.0


# -- Production Imports --
# For connecting to mysql. Not necessary if using sqlite during development.
#mysqlclient==1.4.6
# For ldap connection. Only necessary when CaeAuthBackend is turned on.
#ldap3==2.7
# For putting on a production server. Required for Apache/Daphne to use a Python virtual environment.
#uWSGI==2.0.18


# -- Temporary Imports --
django-webpack-loader


# -- Pip Freeze: $ pip freeze -r requirements.txt --
aioredis==1.3.1
asgiref==3.2.7
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.4.3
Automat==20.2.0
Babel==2.8.0
cffi==1.14.0
constantly==15.1.0
cryptography==2.9.2
daphne==2.5.0
hiredis==1.0.1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
msgpack==0.6.2
phonenumberslite==8.12.2
pkg-resources==0.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytz==2020.1
service-identity==18.1.0
six==1.14.0
sqlparse==0.3.1
text-unidecode==1.3
Twisted==20.3.0
txaio==20.4.1
urllib3==1.25.9
zope.interface==5.1.0
