{% extends 'cae_tools/main.html' %}


{% block title_page_name %}Alerts | CSS Examples | {% endblock title_page_name %}


{% block content %}
  <h1>CSS Examples - Alerts</h1>
  <p>
    Alerts can be used anywhere on the page. They are generally intended to pop up as a notification to user within
    context of the page, such as to display a form error.
  </p>
  <p>
    Alert elements can be created by specifying a div with a class of "alert". Direct child elements placed inside the
    alert will automatically be spaced out as evenly as possible.
  </p>

  <article id="alert-examples">
    <h2>Minimal Alert Examples</h2>
    <div class="alert"><p>Default</p></div>
    <div class="alert primary"><p>Primary</p></div>
    <div class="alert secondary"><p>Secondary</p></div>
    <div class="alert info"><p>Info</p></div>
    <div class="alert success"><p>Success</p></div>
    <div class="alert warning"><p>Warning</p></div>
    <div class="alert error"><p>Error</p></div>
    <div class="alert danger"><p>Danger</p></div>

    <h2>Alert Examples with Links</h2>
    <div class="alert"><p>Default</p><a href="">Test Link</a></div>
    <div class="alert primary"><p>Primary</p><a href="">Test Link</a></div>
    <div class="alert secondary"><p>Secondary</p><a href="">Test Link</a></div>
    <div class="alert info"><p>Info</p><a href="">Test Link</a></div>
    <div class="alert success"><p>Success</p><a href="">Test Link</a></div>
    <div class="alert warning"><p>Warning</p><a href="">Test Link</a></div>
    <div class="alert error"><p>Error</p><a href="">Test Link</a></div>
    <div class="alert danger"><p>Danger</p><a href="">Test Link</a></div>
  </article>

{% endblock content %}
