{% extends 'cae_tools/main.html' %}


{% block title_page_name %}Card | CSS Examples | {% endblock title_page_name %}


{% block content %}
  <h1>CSS Examples - Card</h1>
  <p>Standard Card.</p>

  <div class="card">
    <div class="header">
      <h2>Winno: 11223344</h2>
      <h3>Name: John Doe</h3>
      <h3>Date Due: Fri, May 4th</h3>
    </div>

    <div class="body">
      <div>
        <p>Major: Computer Science</p>
        <p>Date Posted: March 21st, 2022</p>
      </div>
      <div>
        <p>Targetx URL: <a href="">url-here</a></p>
        <p>Date Updated: April 19th, 2022</p>
      </div>
      <p>Student Processing URL: <a href="">django-url-here</a></p>

    </div>

    <div class="toggle">
      <ion-icon name="arrow-down-circle-outline"></ion-icon>
    </div>
  </div>


  <div class="card">
    <div class="header">
      <h2>Winno: 123456</h2>
      <h3>Name: Jane Doe</h3>
    </div>
    <div class="body">
      <p>Winno: 987654</p>
      <p>Name: Jane Doe</p>
      <p>Major: SuperCoolMajor</p>
      <p>Winno: 987654</p>
      <p>Name: Jane Doe</p>
      <p>Major: SuperCoolMajor</p>
      <p>Winno: 987654</p>
      <p>Name: Jane Doe</p>
      <p>Major: SuperCoolMajor</p>
    </div>

    <div class="toggle">
      <ion-icon name="arrow-down-circle-outline"></ion-icon>
    </div>
  </div>

  <div class="card">
    <div class="header">
      <h2>Winno: 123</h2>
      <h3>Name: Some Guy</h3>
    </div>
    <div class="body">
      <p>Details: Idk bro</p>
    </div>

    <div class="toggle">
      <ion-icon name="arrow-down-circle-outline"></ion-icon>
    </div>
  </div>

{% endblock content %}
