{% extends 'cae_tools/main.html' %}


{% block title_page_name %}Card | CSS Examples | {% endblock title_page_name %}


{% block content %}

<h1>CSS Examples - Card</h1>
<p>
  Standard Card.
</p>

<div class="card">
  <div class="content">
    <div class="parent">
      <h2>
        Win no : 11223344
      </h2>
      <h2>
        Name : Joe Doe
      </h2>
    </div>
    <ul class="nav">
      <li>
        <h2> Win no : 11228899 </h2><br/>
      </li>
      <li>
        <h2> Name : John Doe </h2><br/>
      </li>
      <li>
        <h2> Major: Engineering
          <br/></h2>
      </li>
    </ul>
    <div class="toggle">
      <ion-icon name="arrow-down-circle-outline"></ion-icon>
    </div>
  </div>
</div>


<div class="card">
  <div class="content">
    <div class="parent">
      <h2>
        Win no : 123456
      </h2>
      <h2>
        Name : Jane Doe
      </h2>
    </div>
    <ul class="nav">
      <li>
        <h2> Win no : 987654 </h2><br/>
      </li>
      <li>
        <h2> Name : Jane Doe </h2><br/>
      </li>
      <li>
        <h2> Major : SuperCoolMajor <br/></h2>
      </li> <li>
        <h2> Win no : 987654 </h2><br/>
      </li>
      <li>
        <h2> Name : Jane Doe </h2><br/>
      </li>
      <li>
        <h2> Major : SuperCoolMajor<br/></h2>
      </li>
       <li>
        <h2> Win no : 987654 </h2><br/>
      </li>
      <li>
        <h2> Name : Jane Doe </h2><br/>
      </li>
      <li>
        <h2> Major : SuperCoolMajor<br/></h2>
      </li>

    </ul>
    <div class="toggle">
      <ion-icon name="arrow-down-circle-outline"></ion-icon>
    </div>
  </div>
</div>

{% endblock content %}
