{% extends 'cae_tools/main.html' %}


{% block title_page_name %}Tables | CSS Examples | {% endblock title_page_name %}


{% block content %}
  <h1>CSS Examples - Tables</h1>

  <article id="table-examples">
    <h2>Table Examples</h2>
    <p>
      To comply with screen reader standards, tables should only be used when displaying data that makes sense in a row
      column format. Basically data that would make sense in a spreadsheet.
    </p>
    <p>
      Be careful with table width and mobile screens. Always make sure to test your page output on mobile devices if
      it contains a table. If the table is too wide, consider breaking it up into multiple tables, if possible.
    </p>
    <section>
      <h3>Full Table</h3>
      <table>
        <caption>This is a table caption.</caption>
        <thead>
          <tr>
            <th colspan="3"><h3>This is a table header.</h3></th>
          </tr>
          <tr>
            <th><h4>Header Col 1</h4></th>
            <th><h4>Header Col 2</h4></th>
            <th><h4>Header Col 3</h4></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>Row 1 Col 1</p></td>
            <td><p>Row 1 Col 2</p></td>
            <td><p>Row 1 Col 3</p></td>
          </tr>
          <tr>
            <td><p>Row 2 Col 1</p></td>
            <td><p>Row 2 Col 2</p></td>
            <td><p>Row 2 Col 3</p></td>
          </tr>
          <tr>
            <td><a href="">Row 3 Col 1</a></td>
            <td><a href="">Row 3 Col 2</a></td>
            <td><a href="">Row 3 Col 3</a></td>
          </tr>
          <tr>
            <td><p>Row 4 Col 1</p></td>
            <td><p>Row 4 Col 2</p></td>
            <td><p>Row 4 Col 3</p></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="3"><h6>This is a table footer.</h6></th>
          </tr>
          <tr>
            <th><h5>Footer Col 1</h5></th>
            <th><h5>Footer Col 2</h5></th>
            <th><h5>Footer Col 3</h5></th>
          </tr>
        </tfoot>
      </table>
    </section>

    <section>
      <h3>Table with Header Only</h3>
      <table>
        <thead>
          <tr>
            <th><h4>Header Col 1</h4></th>
            <th><h4>Header Col 2</h4></th>
            <th><h4>Header Col 3</h4></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>Row 1 Col 1</p></td>
            <td><p>Row 1 Col 2</p></td>
            <td><p>Row 1 Col 3</p></td>
          </tr>
          <tr>
            <td><p>Row 2 Col 1</p></td>
            <td><p>Row 2 Col 2</p></td>
            <td><p>Row 2 Col 3</p></td>
          </tr>
          <tr>
            <td><a href="">Row 3 Col 1</a></td>
            <td><a href="">Row 3 Col 2</a></td>
            <td><a href="">Row 3 Col 3</a></td>
          </tr>
          <tr>
            <td><p>Row 4 Col 1</p></td>
            <td><p>Row 4 Col 2</p></td>
            <td><p>Row 4 Col 3</p></td>
          </tr>
        </tbody>
      </table>
    </section>

    <section>
      <h3>Bare Minimum Table</h3>
      <table>
        <tbody>
          <tr>
            <td><p>Row 1 Col 1</p></td>
            <td><p>Row 1 Col 2</p></td>
            <td><p>Row 1 Col 3</p></td>
          </tr>
          <tr>
            <td><p>Row 2 Col 1</p></td>
            <td><p>Row 2 Col 2</p></td>
            <td><p>Row 2 Col 3</p></td>
          </tr>
          <tr>
            <td><a href="">Row 3 Col 1</a></td>
            <td><a href="">Row 3 Col 2</a></td>
            <td><a href="">Row 3 Col 3</a></td>
          </tr>
          <tr>
            <td><p>Row 4 Col 1</p></td>
            <td><p>Row 4 Col 2</p></td>
            <td><p>Row 4 Col 3</p></td>
          </tr>
        </tbody>
      </table>
    </section>
  </article>

{% endblock content %}
