{% extends 'cae_tools/main.html' %}


{% block title_page_name %}Text Highlighting | CSS Examples | {% endblock title_page_name %}


{% block content %}
  <h1>CSS Examples - Text Highlighting</h1>
  <p>
    These are various forms of emphasizing/highlighting text. These only affect the direct text and not the content the
    text is contained within.
  </p>
  <p>
    To only change the color of the text, add the desired class (primary, info, etc) to the &#60;p&#62; or
    &#60;span&#62; element. To also change the background of the text, add the "highlight" class.
  </p>

  <article id="p-text-examples">
    <h2>Text Element Examples</h2>
    <h3>Basic Status Text</h3>
    <p class="primary">Primary Text</p>
    <p class="secondary">Secondary Text</p>
    <p class="info">Info Text</p>
    <p class="success">Success Text</p>
    <p class="warning">Warning Text</p>
    <p class="error">Error Text</p>
    <p class="danger">Danger Text</p>
    <p class="code">Code Text</p>
    <h3>Highlight Status Text</h3>
    <p class="highlight primary">Primary Text</p>
    <p class="highlight secondary">Secondary Text</p>
    <p class="highlight info">Info Text</p>
    <p class="highlight success">Success Text</p>
    <p class="highlight warning">Warning Text</p>
    <p class="highlight error">Error Text</p>
    <p class="highlight danger">Danger Text</p>
    <p class="highlight code">Code Text</p>
  </article>

  <article id="span-text-examples">
    <h2>Span Element Examples</h2>
    <h3>Basic Status Text</h3>
    <p>This line has a span with <span class="primary">Primary Text</span> in it.</p>
    <p>This line has a span with <span class="secondary">Secondary Text</span> in it.</p>
    <p>This line has a span with <span class="info">Info Text</span> in it.</p>
    <p>This line has a span with <span class="success">Success Text</span> in it.</p>
    <p>This line has a span with <span class="warning">Warning Text</span> in it.</p>
    <p>This line has a span with <span class="error">Error Text</span> in it.</p>
    <p>This line has a span with <span class="danger">Danger Text</span> in it.</p>
    <p>This line has a span with <span class="code">Code Text</span> in it.</p>
    <h3>Highlight Status Text</h3>
    <p>This line has a highlight span with <span class="highlight primary">Primary Text</span> in it.</p>
    <p>This line has a highlight span with <span class="highlight secondary">Secondary Text</span> in it.</p>
    <p>This line has a highlight span with <span class="highlight info">Info Text</span> in it.</p>
    <p>This line has a highlight span with <span class="highlight success">Success Text</span> in it.</p>
    <p>This line has a highlight span with <span class="highlight warning">Warning Text</span> in it.</p>
    <p>This line has a highlight span with <span class="highlight error">Error Text</span> in it.</p>
    <p>This line has a highlight span with <span class="highlight danger">Danger Text</span> in it.</p>
    <p>This line has a highlight span with <span class="highlight code">Code Text</span> in it.</p>
  </article>

  <article>
    <h2>Code Sections</h2>
    <p>
      Workspace also has highlighting for code elements, intended to be used pretty much exclusively within workspace
      docs. For ease of use, the following four various syntax formats are allowed, and JavaScript will update each
      one to ultimately display identically.
    </p>

    <h3>Full</h3>
    <div class="code-block">
      <pre><code>
        &lt;script&gt;
          // Pass required template values in to JavaScript as variables.
          window.django_middleware = &#123;
            my_passed_var_1: "some_value",
            my_passed_var_2: "some_value_2",
          &#125;
        &lt;/script&gt;
      </code></pre>
    </div>

    <h3>No "Code"</h3>
    <div class="code-block">
      <pre>
        &lt;script&gt;
          // Pass required template values in to JavaScript as variables.
          window.django_middleware = &#123;
            my_passed_var_1: "some_value",
            my_passed_var_2: "some_value_2",
          &#125;
        &lt;/script&gt;
      </pre>
    </div>

    <h3>No "pre"</h3>
    <div class="code-block">
      <code>
        &lt;script&gt;
          // Pass required template values in to JavaScript as variables.
          window.django_middleware = &#123;
            my_passed_var_1: "some_value",
            my_passed_var_2: "some_value_2",
          &#125;
        &lt;/script&gt;
      </code>
    </div>

    <h3>None</h3>
    <div class="code-block">
      &lt;script&gt;
        // Pass required template values in to JavaScript as variables.
        window.django_middleware = &#123;
          my_passed_var_1: "some_value",
          my_passed_var_2: "some_value_2",
        &#125;
      &lt;/script&gt;
    </div>

  </article>

{% endblock content %}
