{% extends 'cae_tools/main.html' %}


{% block title_page_name %}CSS Examples | {% endblock title_page_name %}


{% block content_bar_left %}
  <h2>Table of Contents</h2>
  <ul>
    <li>
      <a href="#content">Back to Top</a>
    </li>
    <li>
      <a href="#css-example-links">CSS Example Links</a>
    </li>
    <li>
      <a href="#site-themes">Site Themes</a>
    </li>
    <li>
      <a href="#site-theme-classes">Site Theme Classes</a>
    </li>
  </ul>
{% endblock content_bar_left %}


{% block content_bar_right %}
  <h2>Side Content Bars</h2>
  <p>
    This is an example of a side content bar.
  </p>
  <p>
    The left and right side content bars are meant for supplementary information that is not essential to the page
    itself.
  <p>
    There is a left and right one. To use them, simply override the Django template block "content_bar_left" or
    "content_bar_right" to have text in the left and right bars, respectively.
  </p>
  <p>
    When the bars are empty, there is JavaScript code to remove and hide them. This file can be found in
    "static/cae_home/js/side_content_bars.js".
  </p>
{% endblock content_bar_right %}


{% block content %}

  <h1>CAE Home CSS Examples</h1>
  <article>
    <a href="{% url 'cae_home:index' %}">Return to Index</a>
    <h2>Welcome to the CAE Workspace CSS Example Page.</h2>
    <p>You should only be seeing this page if serving in development mode.</p>
    <br>
    <p>
      These page contains various, reusable, custom css stylings. Use these for reference when formatting new pages. All
      custom elements make use of the provided "site themes" that come with the workspace project.
    </p>
    <p>
      The original intention of these was to have a set of simple CSS styles to use so that all CAE Center projects have
      a consistent look and feel. While existing CSS frameworks like bootstrap technically accomplish this, we
      originally felt that bootstrap tends to make html elements "dirty" and hard and was generally overkill for our
      anticipated needs. Thus, we wanted something that was simpler and less verbose to use.
    </p>
    <p>
      Of course, like the rest of this "Workspace" project, everything has grown above and beyond initial expectations.
      We didn't expect this CSS to approach the equivalent of a full, alternative to bootstrap, like it is now. Thus, we
      now have these pages to showcase and document use of all custom elements that have been created so far.
    </p>
    <br>
    <p>
      Generally speaking, the original CSS for these elements can be found at
      <span class="highlight info">cae_home/static/cae_home/css/sass/content/</span>.
    </p>
    <p>
      If there is associated JavaScript, then it can be found at
      <span class="highlight info">cae_home/static/cae_home/js/</span>.
    </p>
  </article>

  <article id="css-example-links">
    <h2>Available Custom CSS Elements</h2>
    <ul>
      <li><a href="{% url 'cae_tools:css_alerts' %}">Alerts</a></li>
      <li><a href="{% url 'cae_tools:css_articles' %}">Articles</a></li>
      <li><a href="{% url 'cae_tools:css_buttons' %}">Buttons</a></li>
      <li><a href="{% url 'cae_tools:css_forms' %}">Forms</a></li>
      <li><a href="{% url 'cae_tools:css_nav' %}">Nav</a></li>
      <li><a href="{% url 'cae_tools:css_page_tabbing' %}">Page Tabbing</a></li>
      <li><a href="{% url 'cae_tools:css_panels' %}">Panels</a></li>
      <li><a href="{% url 'cae_tools:css_status_messages' %}">Status Messages</a></li>
      <li><a href="{% url 'cae_tools:css_tables' %}">Tables</a></li>
      <li><a href="{% url 'cae_tools:css_text_highlighting' %}">Text Highlighting</a></li>
    </ul>
  </article>

  <article id="site-themes">
    <h2>Site Themes</h2>
    <p>
      The CSS for this site has various "themes" that the user can select. Selection is available from editing the user
      profile (when logged in, hover over username in topright corner for nav menu. Then click "user settings"). These
      themes essentially change the look and feel of the site, by adjusting the colors but not the actual layout.
    </p>
    <p>
      The original intent was to have "light and dark" versions of the site, but then we needed a "wmu-mockup" look, and
      the number of themes grew from there.
    </p>
  </article>

  <article id="site-theme-classes">
    <h2>Site Theme Classes</h2>
    <p>
      Most of the elements described in these pages can be customized. In such cases, the elements will have a "default"
      look, and then additional looks depending specified classes. These classes only change the color of the class, not
      the layout.
    </p>
    <p>The classes are as follows:</p>
    <ul>
      <li><span class="highlight default">Default</span></li>
      <li><span class="highlight primary">Primary</span></li>
      <li><span class="highlight secondary">Secondary</span></li>
      <li><span class="highlight info">Info</span></li>
      <li><span class="highlight success">Success</span></li>
      <li><span class="highlight warning">Warning</span></li>
      <li><span class="highlight error">Error</span></li>
      <li><span class="highlight danger">Danger</span></li>
    </ul>
    <p>Note that "error" and "danger" are two ways to specify the same stylings.</p>
  </article>

{% endblock content %}
