{% extends 'cae_tools/main.html' %}
{% load static %}


{% block title_page_name %}Documentation | {% endblock title_page_name %}


{% block breadcrumb_nav %}
  <li><a href="{% url 'cae_tools:index' %}">Dev Tools & Docs</a></li>
{% endblock breadcrumb_nav %}


{% block content %}
  <h1>Custom Project Logic Documentation</h1>
  <p>
    Here, we describe all the various ways in which the <span class="highlight primary">CAE Workspace</span> project is
    unique compared to a standard <span class="highlight primary">Django</span> project. This includes all the provided
    additional and custom functionality, as well as notes of related quirks.
  </p>
  <p>
    We opted to put project documentation here, rather than our internal wiki, to ensure that everyone who has access
    to CAE Workspace is able to access this documentation.
  </p>

  <br>
  <p>
    Documentation links for custom CAE Workspace logic is as follows:
  </p>
  <ul>
    <li><p>Project Settings</p></li>
    <ul>
      <li><a href="{% url 'cae_tools:documentation_settings_organization' %}">Settings Organization</a></li>
      <li><a href="{% url 'cae_tools:documentation_settings_local_environment' %}">Local Environment Settings</a></li>
      <li><a href="{% url 'cae_tools:documentation_settings_dev_password' %}">Dev Password Logic</a></li>
      <li><a href="{% url 'cae_tools:documentation_settings_logging' %}">Logging</a></li>
    </ul>
    <li><p>LDAP</p></li>
    <ul>
      <li><a href="{% url 'cae_tools:documentation_ldap_setup' %}">Setup</a></li>
      <li><a href="{% url 'cae_tools:documentation_ldap_auth_backends' %}">Auth Backends</a></li>
      <li><a href="{% url 'cae_tools:documentation_ldap_utility_connectors' %}">Utility Connectors</a></li>
    </ul>
  </ul>
  <br>
  <br>
  <p>Todo:</p>
  <ul>
    <li><a href="{% url 'cae_tools:documentation_css' %}">CSS</a></li>
    <li><a href="{% url 'cae_tools:documentation_general_setup' %}">General Setup</a></li>
    <li><a href="{% url 'cae_tools:documentation_javascript' %}">JavaScript</a></li>
    <li><a href="{% url 'cae_tools:documentation_middleware' %}">Middleware</a></li>
    <li><a href="{% url 'cae_tools:documentation_models' %}">Model</a></li>
    <li><a href="{% url 'cae_tools:documentation_seeds_and_fixtures' %}">Seeds and Fixture</a></li>
    <li><a href="{% url 'cae_tools:documentation_subprojects' %}">Sub Projects</a></li>
    <li><a href="{% url 'cae_tools:documentation_templates' %}">Template</a></li>
    <li><a href="{% url 'cae_tools:documentation_tests' %}">Test</a></li>
    <li><a href="{% url 'cae_tools:documentation_views' %}">View</a></li>
  </ul>
{% endblock content %}
