{% extends 'cae_tools/main.html' %}
{% load static %}


{% block title_page_name %}Documentation | {% endblock title_page_name %}


{% block breadcrumb_nav %}
  <li><a href="{% url 'cae_tools:index' %}">Dev Tools & Docs</a></li>
{% endblock breadcrumb_nav %}


{% block content %}
  <h1>Custom Project Logic Documentation</h1>
  <p>
    Here, we describe all the various ways in which the <span class="highlight primary">CAE Workspace</span> project is
    unique compared to a standard <span class="highlight primary">Django</span> project. This includes all the provided
    additional and custom functionality, as well as notes of related quirks.
  </p>
  <p>
    We opted to put project documentation here, rather than our internal wiki, to ensure that everyone who has access
    to CAE Workspace is able to access this documentation.
  </p>

  <br>
  <p>
    Documentation links for custom CAE Workspace logic is as follows:
  </p>
  <ul>
    <li>
      <p>Setup and Project Core</p>
      <ul>
        <li>
          <p>Project Settings</p>
          <ul>
            <li><a href="{% url 'cae_tools:documentation_settings_organization' %}">Settings Organization</a></li>
            <li><a href="{% url 'cae_tools:documentation_settings_local_environment' %}">Local Environment Settings</a></li>
            <li><a href="{% url 'cae_tools:documentation_settings_dev_password' %}">Dev Password Logic</a></li>
            <li><a href="{% url 'cae_tools:documentation_settings_logging' %}">Logging</a></li>
          </ul>
        </li>
        <li>
          <p>LDAP</p>
          <ul>
            <li><a href="{% url 'cae_tools:documentation_ldap_setup' %}">Setup</a></li>
            <li><a href="{% url 'cae_tools:documentation_ldap_auth_backends' %}">Auth Backends</a></li>
            <li><a href="{% url 'cae_tools:documentation_ldap_utility_connectors' %}">Utility Connectors</a></li>
          </ul>
        </li>
        <li>
          <p>Testing</p>
          <ul>
              <li><a href="{% url 'cae_tools:documentation_testing_running_tests' %}">Running Tests</a></li>
              <li><a href="{% url 'cae_tools:documentation_testing_base_test_case' %}">BaseTestCase Utility Class</a></li>
              <li><a href="{% url 'cae_tools:documentation_testing_integration_test_case' %}">IntegrationTestCase Utility Class</a></li>
              <li><a href="{% url 'cae_tools:documentation_testing_live_server_test_case' %}">LiveServerTestCase Utility Class</a></li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <p>Front End</p>
      <ul>
        <li>
          <p>JavaScript</p>
          <ul>
            <li><a href="{% url 'cae_tools:documentation_javascript_passing_variables' %}">Passing JavaScript Variables</a></li>
            <li><a href="{% url 'cae_tools:documentation_javascript_libraries' %}">Provided Libraries & Logic</a></li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <p>Back End</p>
      <ul>
        <li><p>None yet.</p></li>
      </ul>
    </li>

  </ul>
  <br>
  <br>
  <p>Todo:</p>
  <ul>
    <li><a href="{% url 'cae_tools:documentation_css' %}">CSS</a></li>
    <li><a href="{% url 'cae_tools:documentation_general_setup' %}">General Setup</a></li>
    <li><a href="{% url 'cae_tools:documentation_middleware' %}">Middleware</a></li>
    <li><a href="{% url 'cae_tools:documentation_models' %}">Models</a></li>
    <li><a href="{% url 'cae_tools:documentation_seeds_and_fixtures' %}">Seeds and Fixture</a></li>
    <li><a href="{% url 'cae_tools:documentation_subprojects' %}">Sub Projects</a></li>
    <li><a href="{% url 'cae_tools:documentation_templates' %}">Templates</a></li>
    <li><a href="{% url 'cae_tools:documentation_views' %}">Views</a></li>
  </ul>
{% endblock content %}
