{% load cae_home_tags %}
{% site_mode_is_debug as site_debug %}


{% if 'step-admin' in user.groups.all|slugify  %}
  <li><a href="{% url 'success_center_core:index' %}">Home</a></li>
  <li><a href= "{% url 'success_center_core:user_admin_panel'%}">User Admin</a></li>
  <li><a href="{% url 'success_center_core:location_admin_panel'%}">Location Admin</a></li>
  <li><a href="{% url 'success_center_core:student_usage_panel'%}">Student Usage</a></li>
  <li><a href="{% url 'success_center_timesheets:index' %}">Timesheets</a></li>
{% else %}
  <li><a href="{% url 'success_center_core:index' %}">Home</a></li>
  <li><a href="{% url 'success_center_core:student_usage_panel'%}">Student Usage</a></li>
  <li><a href="{% url 'success_center_timesheets:index' %}">Timesheets</a></li>
{% endif %}

