{% extends 'success_center_core/main.html' %}
{% load cae_home_tags %}


{% block title_page_name %}Home |{% endblock title_page_name %}


{% block content %}

  <h1>Success Center Home</h1>
  {% if checkin_location %}
    <div class="panel">
      <div class="header">
        <h2><span class="key">Check student into</span> {{ checkin_location }}</h2>
      </div>
      <div class="body">
        {% include 'cae_home/include/form.html' with button_text='Search' as_row=True %}
      </div>
    </div>
  {% else %}
    <p>No tutor location set. Required to check in students for the STEP program.</p>
    <p>
      To change this, edit user settings, by going to <span class="highlight primary">User Settings/Management</span>
      on the top right dropdown of the page.
    </p>
  {% endif %}


  <h2>Students Currently Checked In:</h2>

  {% if student_list %}
    <table style="text-align: center;">
      <thead>
        <tr>
          <th><h4>Student</h4></th>
          <th><h4>Time Duration</h4></th>
          <th><h4>Action</h4></th>
        </tr>
      </thead>

      <tbody>
        {% for student in student_list %}
          <tr>

            <td>
                <a href="{% url 'success_center_core:student_redirect' bronco_net=student.student.bronco_net %}">
                  {{ student.student }}
                </a>
            </td>

            <td>{% datetime_as_time_passed student.check_in %}</td>

            <td>
              <a
                class="button primary"
                style="width: 80%"
                href="{% url 'success_center_core:student_checkout' bronco_net=student.student.bronco_net %}"
              >
                Check Out
              </a>
            </td>

          </tr>

        {% endfor %}
      </tbody>

    </table>
  {% else %}
    <p>No students checked in.</p>
  {% endif %}


{% endblock content %}
