{% extends 'success_center_core/main.html' %}
{% load static %}


{% block title_site_name %}Location Admin{% endblock title_site_name %}


{% block content %}

  <h1 style="text-align: center;">Location Admin Panel</h1>

  <div class="panel primary">
    <div class="header center">
      <h2>Locations</h2>
    </div>

    <div class="body">
      <br>

      <table style="text-align:center;">
        <tr>
          <th><h2>Location Name</h2></th>
          <th><h2>Room Number</h2></th>
          <th><h2>Status</h2></th>
          <th><h2>Event</h2></th>
          <th><h2>Modify</h2></th>
        </tr>
        {% for location in locations %}
          {% if location.location_name %}
            <tr>
              <td>{{ location.location_name}}</td>
              <td>{{ location.room_number}}</td>

              <td>
                {% if location.is_active %}
                  Active
                {% else %}
                  Not Active
                {% endif %}
              </td>

              <td>
                {% if location.is_event %}
                   Event
                {% else %}
                   No Event
                {% endif %}
              </td>

              <td>
                <a
                  class="button primary"
                  style="width: 50%;text-decoration:none;"
                  href="{% url 'success_center_core:location_admin_edit' pk=location.pk %}"
                >
                  Edit
                </a>
              </td>

            </tr>
          {% endif %}
        {% endfor %}
      </table>

      <div class="center">

        <a
          class="button primary"
          href="{% url 'success_center_core:location_admin_add' %}"
          style="text-decoration: none; width: 20%;"
        >
          Add Location
        </a>

      </div>
    </div>

  </div>

{% endblock content %}
