{% extends 'success_center_core/main.html' %}
{% load static %}


{% block title_site_name %}Edit Location Admin{% endblock title_site_name %}


{% block content %}
  <div class="panel primary">
    <div class="header">
      <h1>Edit Location</h1>
      <a
        class="button danger"
        href="{% url 'success_center_core:delete-location' pk=form_info.pk %}"
        style="float:right;"
      >
        Delete
      </a>
    </div>
    <div class="body">
      {% include 'cae_home/include/form.html' %}
    </div>
  </div>

{% endblock content %}
