{% extends 'success_center_core/main.html' %}
{% load static %}


{% block title_site_name %}Edit student Data{% endblock title_site_name %}


{% block content %}
  <div class="panel primary">
    <div class="header">
      <h1>Edit {{student_info.student.first_name}} {{student_info.student.last_name}}'s Data</h1>
      <a
        class="button danger"
        href="{% url 'success_center_core:student_delete' pk=student_info.pk %}"
        style="float:right;"
      >
        Delete
      </a>
    </div>

    <div class="body">
      {% include 'cae_home/include/form.html' %}
    </div>

  </div>
{% endblock content %}
