{% extends 'success_center_core/main.html' %}
{% load static %}


{% block title_site_name %}Admin Panel{% endblock title_site_name %}


{% block content %}
  {% if 'step-admin' in user.groups.all|slugify  %}
    <h1>Admin Panel</h1>

    <div class="panel primary">
      <div class="header center">
        <h2>Admins</h2>
      </div>

      <div class="body">
        <table class="center">
          <tr>
              <th>User</th>
              <th>Action</th>
          </tr>

          {% for admin in step_admins %}
              <tr>
                <td>{{ admin.username }} - {{ admin.first_name }} {{ admin.last_name }}</td>
                <td>
                  <a
                    class="button primary"
                    href="{% url 'success_center_core:user_admin_edit' pk=admin.pk %}"
                    style="width: 30%;"
                  >
                    Edit
                  </a>
                </td>
              </tr>
          {% endfor %}

        </table>
      </div>

      <div class="header center">
        <h2>Employees</h2>
      </div>

      <div class="body">

         <table class="center">
          <tr>
              <th>User</th>
              <th>Action</th>
          </tr>

          {% for employee in step_employees %}
              <tr>
                <td>{{ employee.username }} - {{ employee.first_name }} {{ employee.last_name }}</td>
                <td>
                  <a
                    class="button primary"
                    href="{% url 'success_center_core:user_admin_edit' pk=employee.pk %}"
                    style="width: 30%;"
                  >
                    Edit
                  </a>
                </td>
              </tr>
          {% endfor %}
        </table>

      </div>

      <div class="center">
        <a
          class="button primary"
          href="{% url 'success_center_core:add_new_student' %}"
          style="width: 30%;"
        >
          Add New Employee
        </a>
      </div>

    </div>

  {% else %}
    <h1> You are not allowed to view this page!</h1>
  {% endif %}

{% endblock content %}
