{% extends 'success_center_core/main.html' %} {% load static %} {% block title_site_name %}Edit User Admin{% endblock title_site_name %} {% block content %}
<div class="panel primary">
    <div class="header">
        <h1>Manage SuccessCenter User</h1>
    </div>

    <div class="body">
        <form method="POST" action="{% url 'success_center_core:change_step_employee_location' pk=user.pk %}" enctype="multipart/form-data" {% if as_row %} class="as-row" {% endif %}>
            {% csrf_token %} {% include 'cae_home/include/form_inner.html' %} {% if 'step-admin' in user.groups.all|slugify %}
            <a class="button primary" href="{% url 'success_center_core:change_step_admin_to_employee' pk=user.pk %}">
              Change to STEP Employee
            </a> {% else %}
            <a class="button primary" href="{% url 'success_center_core:change_step_employee_to_admin' pk=user.pk %}">
              Change to STEP Admin
            </a> {% endif %}
            <a href="{{ delete_url }}" class="button warning confirm-delete">Delete</a>
            <input type="hidden" name="supporttype" />
            <input type="submit" class="button primary" value="Change Location">
        </form>
    </div>
</div>
{% endblock content %}
