{% extends 'cae_home/main.html' %}


{% block title_page_name %}Index | {% endblock title_page_name %}


{% block content %}
  <h1>CAE Center Resources</h1>
  <p>Below are some links to resources that may be of interest.</p>

  <ul>
    <li><a href="https://wiki.ceas.wmich.edu">CAE Center Wiki</a></li>
    <li><a href="https://wiki.ceas.wmich.edu/index.php/FAQ">CAE Center FAQ</a></li>
    <li><a href="https://assets.ceas.wmich.edu">CAE Assets</a></li>
    <li><a href="https://ceas.wmich.edu/redmine">CAE Redmine</a></li>
    <li><a href="https://git.ceas.wmich.edu">CAE Gitlab Login</a></li>
    <li><a href="https://git.ceas.wmich.edu/explore/groups">CAE Gitlab Projects (May have to login first)</a></li>
    <li><a href="https://wmu-cae-center.slack.com/">CAE Center Slack</a></li>
    <li><a href="https://wiki.ceas.wmich.edu/index.php/Helpful_Resources">Various External Resources (Linux, Programming, Math, Etc)</a></li>
  </ul>
{% endblock content %}
