{% extends 'cae_home/main.html' %}


{% block title_page_name %}Index | {% endblock title_page_name %}


{% block content %}
  <div class="panel">
    <div class="head">
      <h1>CAE Center Resources</h1>
    </div>
    <div class="body">
      <p>Below are some links to resources that may be of interest.</p>

      <hr>

      <p class="key">Wiki</p>
      <ul>
        <li><a href="https://wiki.ceas.wmich.edu">CAE Center Wiki</a></li>
        <li><a href="https://wiki.ceas.wmich.edu/index.php/FAQ">CAE Center FAQ</a></li>
        <li><a href="https://wmu-cae-center.slack.com/">CAE Center Slack</a></li>
      </ul>

      <p class="key">Admin</p>
      <ul>
        <li><a href="https://assets.ceas.wmich.edu">CAE Assets</a></li>
        <li><a href="https://ceas.wmich.edu/redmine">CAE Redmine</a></li>
      </ul>

      <p class="key">Programmer</p>
      <ul>
        <li><a href="https://git.ceas.wmich.edu">CAE Gitlab Login</a></li>
        <li><a href="https://git.ceas.wmich.edu/explore/groups">CAE Gitlab Projects (May have to login first)</a></li>
      </ul>

      <p class="key">Misc</p>
      <ul>
        <li><a href="https://wiki.ceas.wmich.edu/index.php/Helpful_Resources">Various External Resources (Linux, Programming, Math, Etc)</a></li>
        <li><a href="https://wiki.brandon-rodriguez.com">Brandon Wiki (Documentation for linux, programming languages, etc)</a></li>
      </ul>
    </div>
  </div>
{% endblock content %}
