{% extends 'cae_home/main.html' %}


{% block title_page_name %}User Details | {% endblock title_page_name %}


{% block content %}
<div class="panel">
  <div class="header">
    <h1>Details for {{ current_user.first_name }} {{ current_user.last_name }}</h1>
    <p>
      <a href="{% url 'cae_home:user_edit' %}" > Edit</a>
    </p>
  </div>
  <div class="content">

    {% if user.is_cae_user %}
      <div class="panel">
        <div class="head">
          <p><a href="{% url 'cae_tools:reset_password' %}">Someone forgot their password?</a></p>
          {% if is_cae_admin %}
            <p><a href="{% url 'cae_home:manage_cae_users' %}">Manage Cae Center Users</a></p>
          {% endif %}
        </div>
      </div>
    {% endif %}

    <hr>

    <p><a href="{% url 'cae_home:user_change_password' %}">Change Password</a></p>

    <br>

    <h2>{{ current_user }} - {{ current_user.first_name }} {{ current_user.last_name }}</h2>
    <ul>
      <li><p><span class="key">Username:</span> &nbsp; {{ current_user.username }}</p></li>
      <li><p><span class="key">Phone Number:</span> &nbsp; {{ user_profile.phone_number }}</p></li>
      <li><p><span class="key">Timezone:</span> &nbsp; {{ user_profile.user_timezone }}</p></li>
      <li><div>
        <p><span class="key">Groups:</span> &nbsp; </p>
        {% if user_groups %}
          <ul>
            {% for group in user_groups %}
              <li><p>{{ group }}</p></li>
            {% endfor %}
          </ul>
        {% else %}
          <p>None</p>
        {% endif %}
      </div></li>
    </ul>

  </div>
</div>
{% endblock content %}
