{% extends 'success_center_core/main.html' %}
{% load cae_home_tags %}
{% load static %}
{% block extra_styles %}
   <link rel="stylesheet" type="text/css" href="{% static 'success_center_timesheets/css/base.css' %}">
{% endblock extra_styles %}
{% block title_page_name %}Success Center | Timesheets | Admin Panel {% endblock title_page_name %}

{% block sub_nav %}

    <li><a href="{% url 'success_center_timesheets:admin_view' %}">Home</a></li>
    <li><a href="{% url 'success_center_timesheets:admin_search_timesheets'%}">Search Timesheets</a></li>
    <li><a href="{% url 'success_center_timesheets:current_employees'%}">Current Employees</a></li>
    <li><a href="{% url 'success_center_timesheets:admin_past_employees'%}">Past Employees</a></li>
    <li><a href="{% url 'success_center_timesheets:admin_email'%}">Email</a></li>

{% endblock %}
{% block content %}


  <h1>STEP Employees</h1>
<div class="outer-container">
  <div class="heading">
    <p>Employees</p>
    <p>Submitted</p>
    <p>Remove</p>
  </div>

{% if step_employees %}
  {% for step_employee in step_employees %}
    <div class="container">
        {% if step_employee.first_name %}

          {% if step_employee.last_name %}
            <p><a class="small_text" id="{{step_employee}}" href="{% url 'success_center_timesheets:edit_timesheets_pk' pk=step_employee.pk %}">{{ step_employee.first_name }} {{ step_employee.last_name }}</a></p>
          {% else %}
            <p> <a class="small_text" id="{{step_employee}}" href="{% url 'success_center_timesheets:edit_timesheets_pk' pk=step_employee.pk %}">{{ step_employee.first_name }}</a></p>
          {% endif %}

        {% else %}
           <p> <a class="small_text" id="{{ step_employee}}"  href="{% url 'success_center_timesheets:edit_timesheets_pk' pk=step_employee.pk %}">{{ step_employee }} </a></p>
        {% endif %}

      <p>{{ step_employee.submitted }}</p>
      <p><a href="{% url 'success_center_timesheets:admin_remove_employee' pk=step_employee.pk %}"
      class="button danger" type="button" onclick="return confirm('Do you really want to remove {{ step_employee }}?');"> Remove</a></p>
    </div>
  {% endfor %}
{% else %}
  <p class="center">No STEP Employees found!</p>
{% endif %}
</div>

{% endblock content %}
