{% extends 'success_center_core/main.html' %}
{% load cae_home_tags %}
{% load static %}

{% block extra_styles %}
   <link rel="stylesheet" type="text/css" href="{% static 'success_center_timesheets/css/base.css' %}">
{% endblock extra_styles %}

{# Hide scroll bar bug on chrome #}
{% block body_extra_classes %}grid hide-vertical-scroll-bar{% endblock body_extra_classes %}">
{#---------------------------#}

{% block sub_nav %}

    <li><a href="{% url 'success_center_timesheets:admin_view' %}">Home</a></li>
    <li><a href= "{% url 'success_center_timesheets:admin_search_timesheets'%}">Search Timesheets</a></li>
    <li><a href="#">Current Employees</a></li>
    <li> <a href="{% url 'success_center_timesheets:admin_past_employees'%}">Past Employees</a></li>
    <li><a href="{% url 'success_center_timesheets:admin_email'%}">Email</a></li>

{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'success_center_timesheets/js/current_employees_js.js' %}"></script>
{% endblock extra_scripts %}

{% block content %}
  <form method="POST" action="" enctype="multipart/form-data" id="currentEmployeesForm">
    {% csrf_token %}
      {{ formset.management_form }}
  <table>
     <thead>
        <tr>
        <th><h4>Name</h4></th>
        <th><h4>Fund and Cost Center</h4></th>
        <th><h4>Job Code</h4></th>
        <th><h4>Hours Per Pay Period</h4></th>
        <th><h4>Delete</h4></th>
        </tr>
     </thead>
     <tbody>
       {% for forms in formset %}
{#          <div class="container">#}
          {% for error_field, error_message in forms.errors.items %}
            {{ error_field|striptags }}: {{ error_message|striptags }}
          {% endfor %}
  {#        Removing this throws ID missing error     #}
          {% for hidden in forms.hidden_fields %}
             <p style="display: none;">{{ hidden }} </p>
          {% endfor %}
          <tr>
             {% for fields in forms.visible_fields %}
      {# -------  Remove Delete from extra formsets ---------- #}
                  {% if forms.instance.pk %}
                      <td>{{ fields }}</td>
                  {% elif fields == forms.DELETE %}

                  {% else %}
                    <td>{{ fields }}</td>
                  {% endif %}
             {% endfor %}
          </tr>
      {% endfor %}
     </tbody>
  </table>
<input type="submit" value="Submit" id="id_submit" class="button" style= "max-width: 100%;" >

{#    </div>#}
  </form>
{% endblock content %}
