{% extends 'success_center_core/main.html' %}
{% load cae_home_tags %}
{% load static %}


{% block title_page_name %}Success Center | Timesheets{% endblock title_page_name %}
{% block sub_nav %}
{% endblock sub_nav %}

{% block content %}
  {% if user.first_name %}
    <h1>Timesheets For: {{ user.first_name }}</h1>
  {% else %}
    <h1>Timesheets For: {{ user }}</h1>
  {% endif %}

  <div class="panel primary">

    <div class="header">
      <h2>
        Pay Period of
        {{ pay_period.get_start_as_datetime|date:'M d, Y' }} - {{ pay_period.get_end_as_datetime|date:'M d, Y' }}
      </h2>
      {% if shifts %}
      <p>
        <a class="small_text" href="{% url 'success_center_timesheets:edit_timesheets' %}">View Timesheet</a>
      </p>
        {% endif %}
    </div>


    {% if shifts %}
      <div class="body">
        <ul>
          {% for shift in shifts %}
            <li>
              <p>{{ shift.date }} : {{ shift.local_clock_in.time }} - {{ shift.local_clock_out.time}} &nbsp; &nbsp; {{ shift.total }} Hours</p>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer">
        <p>Total Hours: {{ total }} hours</p>
      </div>

    {% else %}
      <div class="body">
        <p>
        <a class="small_text" href="{% url 'success_center_timesheets:edit_timesheets' %}">Create New Timesheet</a>
      </p>
      </div>
    {% endif %}

  </div>
{#  {% endif %}#}
{% endblock content %}
