{% extends 'success_center_core/main.html' %}
{% load cae_home_tags %}
{% load static %}
{% block extra_styles %}
   <link rel="stylesheet" type="text/css" href="{% static 'success_center_timesheets/css/base.css' %}">
{% endblock extra_styles %}
{% block sub_nav %}

    <li><a href="{% url 'success_center_timesheets:admin_view' %}">Home</a></li>
    <li><a href= "#">Search Timesheets</a></li>
    <li><a href="{% url 'success_center_timesheets:current_employees'%}">Current Employees</a></li>
    <li><a href="{% url 'success_center_timesheets:admin_past_employees'%}">Past Employees</a></li>
    <li><a href="{% url 'success_center_timesheets:admin_email'%}">Email</a></li>

{% endblock %}
{% block content %}
  <h1>Search Timesheets</h1>
  <form method="POST" action="">
    {% csrf_token %}
  {{ form.as_p }}
    {% for shift in shifts %}
      <a class="small_text" id="{{shift.employee}}" href="{% url 'success_center_timesheets:edit_timesheets_shift_pk' pk=shift.1 date=date%}">
        {{ shift.0 }}</a> <br>
    {% endfor %}
  <input type="submit" value="Submit" class="button-submit">
  </form>
{% endblock %}
