
//============================//
//==== Button Element CSS ====//
//============================//

// Import statements
@import '../variables/_core';



//====================================//
//==== START Button Element Block ====//
//====================================//

.main-content {

    button, .button {

        // Positioning Styles.
        display: inline-block;
        padding-top: 6px;
        padding-right: 12px;
        padding-bottom: 6px;
        padding-left: 12px;
        margin: 2px;

        // Text Styles.
        text-decoration: none;

        // Visual Styles.
        border-radius: 5px;

        // Other Styles.
        cursor: pointer;
        @include transition(color 0.5s, background-color 0.5s, border 0.5s);
    }

}

//====================================//
//===== END Button Element Block =====//
//====================================//


//==================================//
//==== START Button Group Block ====//
//==================================//

.main-content {

    // General div container for button group.
    div.buttons {
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);
        @include flex-wrap(wrap);

        // Button elements.
        button, .button {
            display: block;
        }

        // Special handling for all buttons that aren't first in the group.
        button:not(:first-child), .button:not(:first-child) {
            // Positioning Styles.
            margin-left: 0;

            // Visual Styles.
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        // Special handling for all buttons that aren't last in the group.
        button:not(:last-child), .button:not(:last-child) {
            // Positioning Styles.
            margin-right: 0;

            // Visual Styles.
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

//==================================//
//===== END Button Group Block =====//
//==================================//


//===================================================//
//==== START "Button Element" Theme Colors Block ====//
//===================================================//

.main-content {

    // Loop through all themes.
    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        // Button elements.
        button, .button {
            // Text Styles.
            color: theme-text($theme, 'content-accent');

            // Visual Styles.
            background-color: theme-status($theme, 'default', 'primary');
            border: 1px solid theme-status($theme, 'default', 'border');
        }

        // Button elements during hover events.
        button:hover, .button:hover {
            // Text Styles.
            color: theme-text($theme, 'content');

            // Visual Styles.
            background-color: theme-status($theme, 'default', 'border');
            border: 1px solid theme-status($theme, 'default', 'border-hover');
        }

        // Loop through all possible status types.
        @each $status, $status-dict in theme-status-dict($theme) {

            // Button elements with status classes.
            button.#{$status}, .#{$status} button, .button.#{$status}, .#{$status} .button {
                // Text Styles.
                color: theme-status($theme, $status, 'text');

                // Visual Styles.
                background-color: theme-status($theme, $status, 'primary');
                border: 1px solid theme-status($theme, $status, 'border');
            }

            // Button elements with status classes during hover events.
            button.#{$status}:hover, .button.#{$status}:hover, .#{$status} button:hover, .#{$status} .button:hover {
                background-color: theme-status($theme, $status, 'border');
                border: 1px solid theme-status($theme, 'default', 'border-hover');
            }

        }

    }}

}

//===================================================//
//===== END "Button Element" Theme Colors Block =====//
//===================================================//


//================================================================================//
//================================= Positioning ==================================//
//================================== Includes: ===================================//
//================================================================================//
// position, top, right, bottom, left, z-index, display, float                    //
//                                                                                //
// grid-template-columns, grid-template-rows, grid-template-areas, grid-template, //
// grid-gap, place-items, grid, grid-column, grid-row, grid-area, place-self,     //
//                                                                                //
// flex-direction, flex-wrap, justify-content, align-items, align-content, order, //
// flex-grow, flex-shrink, flex-basis, flex, align-self,                          //
//                                                                                //
// width, height, max-width, max-height, min-width, min-height,                   //
// padding, padding-top, padding-right, padding-bottom, padding-left,             //
// margin, margin-top, margin-right, margin-bottom, margin-left,                  //
//                                                                                //
// margin-collapse, margin-top-collapse, margin-right-collapse,                   //
// margin-bottom-collapse, margin-left-collapse,                                  //
//                                                                                //
// overflow, overflow-x, overflow-y, clip, clear                                  //
//================================================================================//


//================================================================================//
//================================== Typography ==================================//
//================================== Includes: ===================================//
//================================================================================//
// font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style,  //
// font-weight,                                                                   //
//                                                                                //
// hyphens, src, line-height, letter-spacing, word-spacing, color, text-align,    //
// text-decoration, text-indent, text-overflow, text-rendering, text-size-adjust, //
// text-shadow, text-transform,                                                   //
//                                                                                //
// word-break, word-wrap, white-space                                             //
//================================================================================//


//================================================================================//
//==================================== Visual ====================================//
//================================== Includes: ===================================//
//================================================================================//
// vertical-align,                                                                //
//                                                                                //
// list-style, list-style-type, list-style-position, list-style-image,            //
//                                                                                //
// pointer-events, cursor,                                                        //
//                                                                                //
// background, background-attatchment, background-color, background-image,        //
// background-position, background-repeat, background-size,                       //
//                                                                                //
// border, border-collapse, border-top, border-right, border-bottom, border-left, //
// border-color, border-image, border-top-color, border-right-color,              //
// border-bottom-color, border-left-color, border-spacing, border-style,          //
// border-top-style, border-right-style, border-bottom-style, border-left-style,  //
// border-width, border-top-width, border-right-width, border-bottom-width,       //
// border-left-width,                                                             //
//                                                                                //
// border-radius, border-top-right-radius, border-bottom-right-radius,            //
// border-bottom-left-radius, border-top-left-radius, border-radius-topright,     //
// border-radius-bottomright, border-radius-bottomleft, border-radius-topleft,    //
//                                                                                //
// content, quotes, outline, outline-offset, opacity, filter, visibility, size,   //
// zoom                                                                           //
//================================================================================//


//================================================================================//
//==================================== Other =====================================//
//================================== Includes: ===================================//
//================================================================================//
// transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing,  //
// table-layout,                                                                  //
//                                                                                //
// animation, animation-delay, animation-duration, animation-iteration-count,     //
// animation-name, animation-play-state, animation-timing-function,               //
// animation-fill-mode,                                                           //
//                                                                                //
// transition, transition-delay, transition-duration, transition-property,        //
// transition-timing-function,                                                    //
//                                                                                //
// background-clip, backface-visibility, resize, appearance, user-select,         //
// interpolation-mode, direction, marks, page, set-link-source, unicode-bidi,     //
// speak                                                                          //
//================================================================================//

