
//==========================//
//==== Card Element CSS ====//
//==========================//

// Import statements
@import '../variables/_core';




//==================================//
//==== START Card Element Block ====//
//==================================//

.card {

    // Positioning Styles.
    position: relative;
    margin: 20px;
    padding: 20px;
    width: 100%;
    height: 75px;
    z-index:100;
    overflow: hidden;

    // Text Styles.
    background: silver;
    border-radius: 10px;

    // Background Styles.
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.1);

    // Other Styles.
    @include transition(height 0.5s ease-in-out);

}

.card {

    margin-left: 0;

    * {
        // Positioning Styles.
        margin: 0;
        padding: 0;

        // Visual Styles.
        box-sizing: border-box;
    }

    body {
        // Positioning Styles.
        @include display-flex;
        @include justify-content(center);
        @include align-items(center);
        min-height: 100vh;

        // Visual Styles.
        background: #FFFFFF;
    }

    &.active {
        // Positioning Styles.
        // height: 350px;
        height: auto;

        ion-icon {
            transform:rotate(-180deg);
        }
    }

    .content {
        // Positioning Styles.
        @include display-flex;
        @include flex-direction(column);
        @include align-items(left);

        width: 100%;

        h2 {
            // Positioning Styles.
            margin-left: 15px;
            font-size: 1.3;
        }

        h2 span {
            // Font Styles.
            font-size: 0.8em;
            font-weight: 400;
            color: #999;
        }
    }

    .parent {
        // Positioning Styles.
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(space-between);
        width: 100%;
    }

    .nav {
        // Positioning Styles.
        position: relative;
        top: 25px;
        width: 100%;

        // Visual Styles.
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 20px;

        li {
            // Positioning Styles.
            list-style: none;
            margin: 15px;
        }
    }

    .toggle {
        // Positioning Styles.
        position: absolute;
        @include display-flex;
        @include justify-content(center);
        @include align-items(center);

        bottom: 0;
        right: 0;
        width: 50px;
        height: 50px;

        // Visual Styles.
        background: silver;
        border-end-end-radius: 10px;

        ion-icon {
            // Font Styles.
            font-size: 1.4em;
            color: black;

            // Other Styles.
            transition: transform ease-in-out 0.5s;
        }

    }

}

//================================//
//==== END Card Element Block ====//
//================================//


//================================================================================//
//================================= Positioning ==================================//
//================================== Includes: ===================================//
//================================================================================//
// position, top, right, bottom, left, z-index, display, float                    //
//                                                                                //
// grid-template-columns, grid-template-rows, grid-template-areas, grid-template, //
// grid-gap, place-items, grid, grid-column, grid-row, grid-area, place-self,     //
//                                                                                //
// flex-direction, flex-wrap, justify-content, align-items, align-content, order, //
// flex-grow, flex-shrink, flex-basis, flex, align-self,                          //
//                                                                                //
// width, height, max-width, max-height, min-width, min-height,                   //
// padding, padding-top, padding-right, padding-bottom, padding-left,             //
// margin, margin-top, margin-right, margin-bottom, margin-left,                  //
//                                                                                //
// margin-collapse, margin-top-collapse, margin-right-collapse,                   //
// margin-bottom-collapse, margin-left-collapse,                                  //
//                                                                                //
// overflow, overflow-x, overflow-y, clip, clear                                  //
//================================================================================//


//================================================================================//
//================================== Typography ==================================//
//================================== Includes: ===================================//
//================================================================================//
// font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style,  //
// font-weight,                                                                   //
//                                                                                //
// hyphens, src, line-height, letter-spacing, word-spacing, color, text-align,    //
// text-decoration, text-indent, text-overflow, text-rendering, text-size-adjust, //
// text-shadow, text-transform,                                                   //
//                                                                                //
// word-break, word-wrap, white-space                                             //
//================================================================================//


//================================================================================//
//==================================== Visual ====================================//
//================================== Includes: ===================================//
//================================================================================//
// vertical-align,                                                                //
//                                                                                //
// list-style, list-style-type, list-style-position, list-style-image,            //
//                                                                                //
// pointer-events, cursor,                                                        //
//                                                                                //
// background, background-attatchment, background-color, background-image,        //
// background-position, background-repeat, background-size,                       //
//                                                                                //
// border, border-collapse, border-top, border-right, border-bottom, border-left, //
// border-color, border-image, border-top-color, border-right-color,              //
// border-bottom-color, border-left-color, border-spacing, border-style,          //
// border-top-style, border-right-style, border-bottom-style, border-left-style,  //
// border-width, border-top-width, border-right-width, border-bottom-width,       //
// border-left-width,                                                             //
//                                                                                //
// border-radius, border-top-right-radius, border-bottom-right-radius,            //
// border-bottom-left-radius, border-top-left-radius, border-radius-topright,     //
// border-radius-bottomright, border-radius-bottomleft, border-radius-topleft,    //
//                                                                                //
// content, quotes, outline, outline-offset, opacity, filter, visibility, size,   //
// zoom                                                                           //
//================================================================================//


//================================================================================//
//==================================== Other =====================================//
//================================== Includes: ===================================//
//================================================================================//
// transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing,  //
// table-layout,                                                                  //
//                                                                                //
// animation, animation-delay, animation-duration, animation-iteration-count,     //
// animation-name, animation-play-state, animation-timing-function,               //
// animation-fill-mode,                                                           //
//                                                                                //
// transition, transition-delay, transition-duration, transition-property,        //
// transition-timing-function,                                                    //
//                                                                                //
// background-clip, backface-visibility, resize, appearance, user-select,         //
// interpolation-mode, direction, marks, page, set-link-source, unicode-bidi,     //
// speak                                                                          //
//================================================================================//
