
//==========================//
//==== Card Element CSS ====//
//==========================//

// Import statements
@import '../variables/_core';




//==================================//
//==== START Card Element Block ====//
//==================================//

.main-content {

    div.card {

        // Positioning Styles.
        position: relative;
        margin: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 90px;
        overflow: hidden;

        // Text Styles.
        background: silver;
        border-radius: 10px;

        // Visual Styles.
        box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.1);

        // Other Styles.
        box-sizing: border-box;
        /*@include transition(height 0.5s, color 0.5s, background-color 0.5s, border 0.5s);*/
    }


    div.card {

        // Display full content when toggled to show.
        &.active {
            // Positioning Styles.
            height: auto;

            ion-icon {
                transform:rotate(-180deg);
            }
        }

        div.head, div.header {

            // Positioning Styles.
            @include display-flex;
            @include flex-direction(row);
            @include justify-content(space-between);
            @include align-items(flex-end);

            padding-right: 50px;
            padding-left: 50px;

            // Other Styles.
            box-sizing: border-box;
        }

        div.body {
            // Positioning Styles.
            @include display-flex;
            @include flex-direction(column);
            @include flex(1);
            position: relative;

            padding-top: 30px;
            padding-right: 50px;
            padding-bottom: 20px;
            padding-left: 50px;

            // Visual Styles.
            border-top: 1px solid rgba(0, 0, 0, 0.1);

            // Other Styles.
            box-sizing: border-box;
            /*@include transition(height 0.5s, color 0.5s, background-color 0.5s, border 0.5s);*/
        }

        div.body {

            div {
                // Positioning Styles.
                @include display-flex;
                @include flex-direction(row);
                @include justify-content(space-between);
                @include align-items(center);
                @include flex(1);

                // Other Styles.
                box-sizing: border-box;
            }
        }

        div.toggle {
            // Positioning Styles.
            position: absolute;
            @include display-flex;
            @include justify-content(center);
            @include align-items(center);
            @include flex(1);

            bottom: 0;
            right: 0;
            width: 50px;
            height: 50px;

            // Visual Styles.
            border-end-end-radius: 10px;

            ion-icon {
                // Positioning Styles.
                @include display-flex;
                @include justify-content(center);
                @include align-items(center);
                @include flex(1);

                padding-top: 10px;
                width: 60%;
                height: 60%;

                // Other Styles.
            }

        }

    }
}

//================================//
//==== END Card Element Block ====//
//================================//


//=================================================//
//==== START "Card Element" Theme Colors Block ====//
//=================================================//

.main-content {

    // Loop through all themes.
    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {
        div.card {
            background-color: theme-status($theme, 'default', 'primary');
            border: 1px solid theme-status($theme, 'default', 'border');

            .body {
                // Text Styles.
                color: theme-status($theme, 'default', 'primary');

                // Visual Styles.
                background-color: theme-status($theme, 'default', 'primary');
                border: 1px solid theme-status($theme, 'default', 'border');
            }

            a:not(.button) {
                color: theme-status($theme, 'default', 'link');
            }

            a:not(.button):hover {
                color: theme-status($theme, 'default', 'link-hover');
            }

            a:hover:not(.button) {
                background-color: theme-status($theme, 'default', 'primary');
            }

            ion-icon {
                color: theme-status($theme, 'default', 'content');
            }

        }

        div.card.active {

            .body {
                // Text Styles.
                color: theme-text($theme, 'content');
            }
        }

        div.card:hover {
            background-color: theme-status($theme, 'default', 'primary-hover');
            border: 1px solid theme-status($theme, 'default', 'border-hover');
        }

        // Loop through all possible status types.
        @each $status, $status-dict in theme-status-dict($theme) {

            div.card.#{$status} {

                background-color: theme-status($theme, $status, 'primary');
                border: 1px solid theme-status($theme, $status, 'border');

                .body {
                    // Text Styles.
                    color: theme-status($theme, 'default', 'primary');
                }

                a:hover:not(.button) {
                    background-color: theme-status($theme, $status, 'primary');
                }

                > .header, .head {
                    // Text Styles.
                    color: theme-status($theme, $status, 'text');

                    // Visual Styles.
                    border-bottom: 1px solid theme-status($theme, $status, 'border');

                    a:not(.button) {
                        color: theme-status($theme, $status, 'link');
                    }

                    a:not(.button):hover {
                        color: theme-status($theme, $status, 'primary');
                    }
                }

            }

            div.card.active.#{$status} {

                .body {
                    // Text Styles.
                    color: theme-text($theme, 'content');
                }
            }

            div.card.#{$status}:hover {
                background-color: theme-status($theme, $status, 'primary-hover');
                border: 1px solid theme-status($theme, 'default', 'border-hover');
            }
        }

    }}

}


//===============================================//
//==== END "Card Element" Theme Colors Block ====//
//===============================================//


//================================================================================//
//================================= Positioning ==================================//
//================================== Includes: ===================================//
//================================================================================//
// position, top, right, bottom, left, z-index, display, float                    //
//                                                                                //
// grid-template-columns, grid-template-rows, grid-template-areas, grid-template, //
// grid-gap, place-items, grid, grid-column, grid-row, grid-area, place-self,     //
//                                                                                //
// flex-direction, flex-wrap, justify-content, align-items, align-content, order, //
// flex-grow, flex-shrink, flex-basis, flex, align-self,                          //
//                                                                                //
// width, height, max-width, max-height, min-width, min-height,                   //
// padding, padding-top, padding-right, padding-bottom, padding-left,             //
// margin, margin-top, margin-right, margin-bottom, margin-left,                  //
//                                                                                //
// margin-collapse, margin-top-collapse, margin-right-collapse,                   //
// margin-bottom-collapse, margin-left-collapse,                                  //
//                                                                                //
// overflow, overflow-x, overflow-y, clip, clear                                  //
//================================================================================//


//================================================================================//
//================================== Typography ==================================//
//================================== Includes: ===================================//
//================================================================================//
// font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style,  //
// font-weight,                                                                   //
//                                                                                //
// hyphens, src, line-height, letter-spacing, word-spacing, color, text-align,    //
// text-decoration, text-indent, text-overflow, text-rendering, text-size-adjust, //
// text-shadow, text-transform,                                                   //
//                                                                                //
// word-break, word-wrap, white-space                                             //
//================================================================================//


//================================================================================//
//==================================== Visual ====================================//
//================================== Includes: ===================================//
//================================================================================//
// vertical-align,                                                                //
//                                                                                //
// list-style, list-style-type, list-style-position, list-style-image,            //
//                                                                                //
// pointer-events, cursor,                                                        //
//                                                                                //
// background, background-attatchment, background-color, background-image,        //
// background-position, background-repeat, background-size,                       //
//                                                                                //
// border, border-collapse, border-top, border-right, border-bottom, border-left, //
// border-color, border-image, border-top-color, border-right-color,              //
// border-bottom-color, border-left-color, border-spacing, border-style,          //
// border-top-style, border-right-style, border-bottom-style, border-left-style,  //
// border-width, border-top-width, border-right-width, border-bottom-width,       //
// border-left-width,                                                             //
//                                                                                //
// border-radius, border-top-right-radius, border-bottom-right-radius,            //
// border-bottom-left-radius, border-top-left-radius, border-radius-topright,     //
// border-radius-bottomright, border-radius-bottomleft, border-radius-topleft,    //
//                                                                                //
// content, quotes, outline, outline-offset, opacity, filter, visibility, size,   //
// zoom                                                                           //
//================================================================================//


//================================================================================//
//==================================== Other =====================================//
//================================== Includes: ===================================//
//================================================================================//
// transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing,  //
// table-layout,                                                                  //
//                                                                                //
// animation, animation-delay, animation-duration, animation-iteration-count,     //
// animation-name, animation-play-state, animation-timing-function,               //
// animation-fill-mode,                                                           //
//                                                                                //
// transition, transition-delay, transition-duration, transition-property,        //
// transition-timing-function,                                                    //
//                                                                                //
// background-clip, backface-visibility, resize, appearance, user-select,         //
// interpolation-mode, direction, marks, page, set-link-source, unicode-bidi,     //
// speak                                                                          //
//================================================================================//
