
//============================//
//==== Button Element CSS ====//
//============================//

// Import statements
@import '../variables/_core';


//==========================================//
//==== START SelectScroll Element Block ====//
//==========================================//

.main-content {

    .select-scroll {

        // Positioning Styles.
        @include display-flex;
        @include flex-direction(column);
        @include align-items(center);
        @include flex(1);

        max-width: 100%;
        overflow: hidden;
    }

    .select-scroll {

        // Outer container that holds both the scroll items and buttons.
        .selectscroll-nav-container {

            // Positioning Styles.
            @include display-flex;
            @include flex-direction(row);
            @include justify-content(center);
            @include align-items(center);
            @include flex(1);
            position: relative;

            width: 100%;

            // Other Styles.
            //box-sizing: border-box;
            overflow: hidden;

        }

        .selectscroll-nav-container {

            // The actual clickable scroll items.
            .selectscroll-nav {
                // Positioning Styles.
                @include display-flex;
                @include flex-direction(row);
                @include flex(1);
                position: relative;
                z-index: 0;

                width: 95%;
                margin-right: 25px;

                // Other Styles.
                //box-sizing: border-box;
            }

            // Left and right arrows to allow scrolling.
            .arrow {
                // Positoning Styles.
                @include display-flex;
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);
                @include flex(1);
                position: absolute;
                z-index: 1;

                //min-width: 1%;
                width: 25px;
                height: 35px;

                // Visual Styles.
                background-color: #facc15;
                // WARNING: Changing border size here will break JS unless you update both.
                border-top: 1px solid #331900;
                border-right: 2px solid #331900;
                border-bottom: 1px solid #331900;
                border-left: 2px solid #331900;

                // Other Styles.
                cursor: pointer;
                //box-sizing: border-box;
            }

            .arrow-left {
                // Positoning Styles.
                left: 0;

                // Visual Styles.
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            .arrow-right {
                // Positoning Styles.
                right: 0;

                // Visual Styles.
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            li {

                // Positioning Styles.
                @include display-flex;
                @include flex-direction(column);
                @include justify-content(center);
                @include flex(1);
                position: relative;

                min-width: 10%;
                height: 35px;

                // Text Styles.
                text-align: center;

                // Visual Styles.
                background-color: #facc15;
                // WARNING: Changing border size here will break JS unless you update both.
                border-top: 1px solid #331900;
                border-right: 2px solid #331900;
                border-bottom: 1px solid #331900;
                border-left: 2px solid #331900;
                list-style-type: none;

                // Other Styles.
                cursor: pointer;
                //box-sizing: border-box;
            }

        }

        div.selectscroll-content {

            @include display-flex;
            @include flex-direction(column);
            @include justify-content(center);
            @include flex(1);

            width: 100%;

            // Hide content values by default.
            > div {
                display: none;
            }

            // Except the selected one, which we show.
            > div.selected {
                @include display-flex;
                @include flex-direction(column);
                @include flex(1);
            }
        }
    }

}

//==========================================//
//===== END SelectScroll Element Block =====//
//==========================================//


//==========================================//
//==== START SelectSquare Element Block ====//
//==========================================//

.main-content {

    .select-square {
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        @include flex-wrap(wrap);
        @include flex(1);

        max-width: 1100px;
        margin: 0px auto;
        padding: 25px;
    }

    .select-square {

        // Styles for selection boxes.
        ul.selectsquare-nav {
            // Positioning Styles.
            @include display-flex;
            @include flex-direction(row);
            @include justify-content(center);
            @include align-items(center);
            @include flex-wrap(wrap);
            @include flex(1);

            max-width: 1100px;
            margin: 0px auto;
            padding: 25px;
        }

        ul.selectsquare-nav > li {
            // Positioning Styles.
            width: 100px;
            padding: 25px;

            // Text Styles.
            color: #fff;
            font-size: 14px !important;
            font-weight: bold;
            text-align: center;

            // Visual Styles.
            background: #331900;
            list-style-type: none;

            // Other Styles.
            cursor: pointer;
        }

        div.selectsquare-content {

            @include display-flex;
            @include flex-direction(column);
            @include justify-content(center);
            @include flex(1);

            width: 100%;

            // Hide content values by default.
            > div {
                display: none;
            }

            // Except the selected one, which we show.
            > div.selected {
                @include display-flex;
                @include flex-direction(column);
                @include flex(1);
            }
        }

        // Styles for selected content.
        input[type='radio']:checked + label + .tab {
            display: block;
        }

        input[type="radio"] {
            display: none;
        }

        input[type="radio"]:checked + label {
            // Text Styles.
            color: black;

            // Visual Styles.
            background: #fcc30f;

        }

        .tab {
            // Positioning Styles.
            display: none;
            order: 1;

            width: 100%;
            padding: 20px;

            // Visual Styles.
            background: #fff;

        }

        .tab p {
            text-align: center;
            padding: 20px;

        }
    }

}

//==========================================//
//===== END SelectSquare Element Block =====//
//==========================================//

//==========================================//
//==== START PrioritySelect Element Block ====//
//==========================================//

.main-content {

    .priority-select {

        .priorityselect-nav {

            // Positioning Styles.
            @include display-flex;
            @include flex-direction(row);
            @include justify-content(space-evenly);
            @include align-items(center);
            @include flex(1);

            margin-bottom: 12px;
            padding: 15px 10px;

            // Other Styles.
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .priorityselect-nav {

            li {
                // Positioning Styles.
                @include display-flex;
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);
                @include flex(1);

                // Text Styles.
                text-align: center;

                // Visual Styles.
                border: 1px solid #f2f2f2;
            }

            p {
                @include display-flex;
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);
                @include flex(1);

                height: 50px;
            }

        }

        .priorityselect-content {

            > div {
                display: none;
            }

            > div.selected {
                @include display-flex;
                @include flex-direction(column);
            }
        }

        .filter-area input[type='radio']:checked + label {
            background: orange;
            color: black;
        }

        .filter-area input {
            background-color: black;
        }

        .filter-tab input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .checkmark {
            margin-right: 10px;
            height: 17px;
            width: 17px;
            background-color: #eee;
            border-radius: 50%;
            border: 3px solid white;
        }

        .filter-tab:hover input ~ .checkmark {
            background-color: #ccc;
        }

        .filter-tab input:checked ~ .checkmark {
            background-color: #2196f3;
        }
    }

}
//==========================================//
//===== END PrioritySelect Element Block =====//
//==========================================//

//================================================================================//
//================================= Positioning ==================================//
//================================== Includes: ===================================//
//================================================================================//
// position, top, right, bottom, left, z-index, display, float                    //
//                                                                                //
// grid-template-columns, grid-template-rows, grid-template-areas, grid-template, //
// grid-gap, place-items, grid, grid-column, grid-row, grid-area, place-self,     //
//                                                                                //
// flex-direction, flex-wrap, justify-content, align-items, align-content, order, //
// flex-grow, flex-shrink, flex-basis, flex, align-self,                          //
//                                                                                //
// width, height, max-width, max-height, min-width, min-height,                   //
// padding, padding-top, padding-right, padding-bottom, padding-left,             //
// margin, margin-top, margin-right, margin-bottom, margin-left,                  //
//                                                                                //
// margin-collapse, margin-top-collapse, margin-right-collapse,                   //
// margin-bottom-collapse, margin-left-collapse,                                  //
//                                                                                //
// overflow, overflow-x, overflow-y, clip, clear                                  //
//================================================================================//


//================================================================================//
//================================== Typography ==================================//
//================================== Includes: ===================================//
//================================================================================//
// font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style,  //
// font-weight,                                                                   //
//                                                                                //
// hyphens, src, line-height, letter-spacing, word-spacing, color, text-align,    //
// text-decoration, text-indent, text-overflow, text-rendering, text-size-adjust, //
// text-shadow, text-transform,                                                   //
//                                                                                //
// word-break, word-wrap, white-space                                             //
//================================================================================//


//================================================================================//
//==================================== Visual ====================================//
//================================== Includes: ===================================//
//================================================================================//
// vertical-align,                                                                //
//                                                                                //
// list-style, list-style-type, list-style-position, list-style-image,            //
//                                                                                //
// pointer-events, cursor,                                                        //
//                                                                                //
// background, background-attatchment, background-color, background-image,        //
// background-position, background-repeat, background-size,                       //
//                                                                                //
// border, border-collapse, border-top, border-right, border-bottom, border-left, //
// border-color, border-image, border-top-color, border-right-color,              //
// border-bottom-color, border-left-color, border-spacing, border-style,          //
// border-top-style, border-right-style, border-bottom-style, border-left-style,  //
// border-width, border-top-width, border-right-width, border-bottom-width,       //
// border-left-width,                                                             //
//                                                                                //
// border-radius, border-top-right-radius, border-bottom-right-radius,            //
// border-bottom-left-radius, border-top-left-radius, border-radius-topright,     //
// border-radius-bottomright, border-radius-bottomleft, border-radius-topleft,    //
//                                                                                //
// content, quotes, outline, outline-offset, opacity, filter, visibility, size,   //
// zoom                                                                           //
//================================================================================//


//================================================================================//
//==================================== Other =====================================//
//================================== Includes: ===================================//
//================================================================================//
// transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing,  //
// table-layout,                                                                  //
//                                                                                //
// animation, animation-delay, animation-duration, animation-iteration-count,     //
// animation-name, animation-play-state, animation-timing-function,               //
// animation-fill-mode,                                                           //
//                                                                                //
// transition, transition-delay, transition-duration, transition-property,        //
// transition-timing-function,                                                    //
//                                                                                //
// background-clip, backface-visibility, resize, appearance, user-select,         //
// interpolation-mode, direction, marks, page, set-link-source, unicode-bidi,     //
// speak                                                                          //
//================================================================================//

