
//======================//
//==== FileNameHere ====//
//======================//

// Import statements
@import '../variables/_core';



//===================================//
//==== START Table Element Block ====//
//===================================//

.main-content {

    table {

        // Positioning Styles.
        margin-top: 10px;
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;

        width: 100%;

        // Visual Styles.
        border-collapse: collapse;

        // Other Styles.
        box-sizing: border-box;
        @include transition(color 0.5s, background-color 0.5s, border 0.5s);

        th, td {

            @each $header_element in $header_element_list {
            #{$header_element} {
                padding-top: 0;
            }}

            > * {
                display: inline-block;

                width: 100%;
                padding-top: 5px;
                padding-right: 3px;
                padding-bottom: 5px;
                padding-left: 3px;
            }
        }

        th a {
            @include display-flex;
            @include flex-direction(row);
            @include justify-content(center);
            @include align-items(center);
        }

        th, th a {
            font-weight: bold;

            // Loop through all header elements.
            @each $header_element in $header_element_list {
            > #{$header_element} {

                // Loop through all font size options.
                @each $font-option, $font-option-value in $font-size-options {
                .font-size-#{$font-option} & {

                    font-size: font-option($font-option) * 1.15;

                }}

            }}
        }

        tr, th, td {
            box-sizing: border-box;
            @include transition(color 0.5s, background-color 0.5s, border 0.5s);

            > * {
                box-sizing: border-box;
            }
        }

        tbody {

            th, td {

                > a, a:hover {
                    text-decoration: none;
                }

            }

        }

        thead, tbody, tfoot {
            box-sizing: border-box;
            @include transition(color 0.5s, background-color 0.5s, border 0.5s);
        }

        @media only screen and (min-width: $screen-tablet-mid) {

            th, td {

                > * {
                    padding-right: 8px;
                    padding-left: 8px;
                }
            }
        }

    }

}

//===================================//
//===== END Table Element Block =====//
//===================================//


//==================================================//
//==== START "Table Element" Theme Colors Block ====//
//==================================================//

.main-content table {

    @each $theme, $theme-dict in $theme-colors {
    .theme-#{$theme} & {

        thead, tfoot {
            // Stylings specific to wmu theme.
            @if $theme == "wmu" {
                // Text Styles.
                color: theme-status($theme, 'secondary', 'text');

                // Visual Styles.
                background-color: theme-status($theme, 'primary', 'border');
            } @else {
                // Text Styles.
                color: theme-status($theme, 'primary', 'text');

                // Visual Styles.
                background-color: theme-status($theme, 'primary', 'primary');
            }

            th a, th a:hover {
                @if $theme == "wmu" {
                    color: theme-status($theme, 'secondary', 'text');
                } @else {
                    color: theme-status($theme, 'primary', 'text');
                }
            }
        }

        tbody {

            th, td {

                > a, a:hover {
                    color: theme-text($theme, 'text');
                }
            }

            tr:hover th, tr:hover td {

                > a {
                    color: theme-text($theme, 'link');
                }

                > a:hover {
                    color: theme-text($theme, 'link-hover');
                }
            }

            tr.error th, tr.error td {
                > a {
                    color: theme-status($theme, 'error', 'primary') !important;
                }
                > a:hover {
                    color: theme-status($theme, 'error', 'primary-hover') !important;
                }
            }

            tr:first-child {
                // Stylings specific to wmu theme.
                @if $theme == "wmu" {
                    border-top: 1px solid theme-status($theme, 'secondary', 'border');
                } @else {
                    border-top: 1px solid theme-status($theme, 'primary', 'border');
                }
            }

            tr:last-child {
                // Stylings specific to wmu theme.
                @if $theme == "wmu" {
                    border-bottom: 1px solid theme-status($theme, 'secondary', 'border');
                } @else {
                    border-bottom: 1px solid theme-status($theme, 'primary', 'border');
                }
            }

            tr:nth-child(odd) {
                background-color: theme-background($theme, 'table-row-odd');
            }

            tr:nth-child(even) {
                background-color: theme-background($theme, 'table-row-even');
            }

            tr:hover {
                background-color: theme-background($theme, 'table-row-hover');
            }
        }

        tr {
            // Stylings specific to wmu theme.
            @if $theme == "wmu" {
                border-left: 1px solid theme-status($theme, 'secondary', 'border');
                border-right: 1px solid theme-status($theme, 'secondary', 'border');
            } @else {
                border-left: 1px solid theme-status($theme, 'primary', 'border');
                border-right: 1px solid theme-status($theme, 'primary', 'border');
            }
        }

        th {
            // Stylings specific to wmu theme.
            @if $theme == "wmu" {
                border: 1px solid theme-status($theme, 'secondary', 'border');
            } @else {
                border: 1px solid theme-status($theme, 'primary', 'border');
            }
        }

    }}

}

//==================================================//
//===== END "Table Element" Theme Colors Block =====//
//==================================================//


//================================================================================//
//================================= Positioning ==================================//
//================================== Includes: ===================================//
//================================================================================//
// position, top, right, bottom, left, z-index, display, float                    //
//                                                                                //
// grid-template-columns, grid-template-rows, grid-template-areas, grid-template, //
// grid-gap, place-items, grid, grid-column, grid-row, grid-area, place-self,     //
//                                                                                //
// flex-direction, flex-wrap, justify-content, align-items, align-content, order, //
// flex-grow, flex-shrink, flex-basis, flex, align-self,                          //
//                                                                                //
// width, height, max-width, max-height, min-width, min-height,                   //
// padding, padding-top, padding-right, padding-bottom, padding-left,             //
// margin, margin-top, margin-right, margin-bottom, margin-left,                  //
//                                                                                //
// margin-collapse, margin-top-collapse, margin-right-collapse,                   //
// margin-bottom-collapse, margin-left-collapse,                                  //
//                                                                                //
// overflow, overflow-x, overflow-y, clip, clear                                  //
//================================================================================//


//================================================================================//
//================================== Typography ==================================//
//================================== Includes: ===================================//
//================================================================================//
// font, font-family, font-size, font-smoothing, osx-font-smoothing, font-style,  //
// font-weight,                                                                   //
//                                                                                //
// hyphens, src, line-height, letter-spacing, word-spacing, color, text-align,    //
// text-decoration, text-indent, text-overflow, text-rendering, text-size-adjust, //
// text-shadow, text-transform,                                                   //
//                                                                                //
// word-break, word-wrap, white-space                                             //
//================================================================================//


//================================================================================//
//==================================== Visual ====================================//
//================================== Includes: ===================================//
//================================================================================//
// vertical-align,                                                                //
//                                                                                //
// list-style, list-style-type, list-style-position, list-style-image,            //
//                                                                                //
// pointer-events, cursor,                                                        //
//                                                                                //
// background, background-attatchment, background-color, background-image,        //
// background-position, background-repeat, background-size,                       //
//                                                                                //
// border, border-collapse, border-top, border-right, border-bottom, border-left, //
// border-color, border-image, border-top-color, border-right-color,              //
// border-bottom-color, border-left-color, border-spacing, border-style,          //
// border-top-style, border-right-style, border-bottom-style, border-left-style,  //
// border-width, border-top-width, border-right-width, border-bottom-width,       //
// border-left-width,                                                             //
//                                                                                //
// border-radius, border-top-right-radius, border-bottom-right-radius,            //
// border-bottom-left-radius, border-top-left-radius, border-radius-topright,     //
// border-radius-bottomright, border-radius-bottomleft, border-radius-topleft,    //
//                                                                                //
// content, quotes, outline, outline-offset, opacity, filter, visibility, size,   //
// zoom                                                                           //
//================================================================================//


//================================================================================//
//==================================== Other =====================================//
//================================== Includes: ===================================//
//================================================================================//
// transform, box-align, box-flex, box-orient, box-pack, box-shadow, box-sizing,  //
// table-layout,                                                                  //
//                                                                                //
// animation, animation-delay, animation-duration, animation-iteration-count,     //
// animation-name, animation-play-state, animation-timing-function,               //
// animation-fill-mode,                                                           //
//                                                                                //
// transition, transition-delay, transition-duration, transition-property,        //
// transition-timing-function,                                                    //
//                                                                                //
// background-clip, backface-visibility, resize, appearance, user-select,         //
// interpolation-mode, direction, marks, page, set-link-source, unicode-bidi,     //
// speak                                                                          //
//================================================================================//
