
{% if form_cols %}
  <div class="form-inputs multi-col">
{% else %}
  <div class="form-inputs">
{% endif %}

  {# Render form fields that are hidden (such as auto-provided CSRF fields). #}
  {% for field in form.hidden_fields %}
    <div class="hidden">

      <div class="form-input">
        {{ field.label_tag }}
        <div>
          {{ field }}
          {% if field.help_text %}
            <br><small>{{ field.help_text}}</small>
          {% endif %}
        </div>
      </div>

    </div>
  {% endfor %}

  {# Render form fields that aren't hidden (aka, standard fields). #}
  {% for field in form.visible_fields %}

    {% if form_cols %}
      <div class="form-col">
    {% endif %}

    {% for error in field.errors %}
      <div class="alert error">{{ error }}</div>
    {% endfor %}

    <div class="form-input">
      {{ field.label_tag }}
      <div>
        {{ field }}
        {% if field.help_text %}
          <br><small>{{ field.help_text}}</small>
        {% endif %}
      </div>

      {# Handling for if field has a "datalist" HTML5 attribute. This gives an auto-complete drop-down. #}
      {% if field.field.widget.attrs.list %}
        <datalist id="{{ field.field.widget.attrs.list }}"></datalist>
      {% endif %}

    </div>

    {% if form_cols %}
      </div>
    {% endif %}

  {% endfor %}

  {# Render additional links provided as suplementary data to the field. #}
  {% if form.additional_link %}
    {% if form.slug %}
      {% if form.additional_link_text %}
        <a href='{% url form.additional_link slug=form.slug %}'>{{ form.additional_link_text }}</a>
      {% endif %}
    {% else %}
      <a href='{% url form.additional_link %}'></a>
    {% endif %}
  {% endif %}
</div>
