
{% for error in form.non_field_errors %}
  <div class="alert error">{{ error }}</div>
{% endfor %}
<form method="POST" action="" enctype="multipart/form-data" {% if as_row %}class="as-row"{% endif %}>
  {% csrf_token %}

  {% include 'cae_home/include/form_inner.html' %}

  {% if not exclude_buttons %}
    <div>
      <p></p>

      {% if button_text %}
        <input class="button primary" type="submit" value="{{ button_text }}">
      {% else %}
        <input class="button primary" type="submit" value="Submit">
      {% endif %}

      {% if delete_url %}
        <a href="{{ delete_url }}" class="button warning confirm-delete">Delete</a>
      {% else %}
        <p></p>
      {% endif %}
    </div>
  {% endif %}
</form>
