
{# Handle for standard forms. #}
{% if forms %}
  {% for form in forms %}
    {% if form.display_name %}
      <h3 class="form-display-name">{{ form.display_name }}</h3>
    {% endif %}
    {% for error in form.non_field_errors %}
      <div class="alert error">{{ error }}</div>
    {% endfor %}
    {% include 'cae_home/include/form_fields.html' %}
    <hr>
  {% endfor %}
{% else %}
  {% if form.display_name %}
    <h3 class="form-display-name">{{ form.display_name }}</h3>
  {% endif %}
  {% include 'cae_home/include/form_fields.html' %}
{% endif %}


{# Handle for formsets. #}
{% if formset %}
  <hr>
  {{ formset.management_form }}
  {% for form in formset %}
    {% if form.display_name %}
      <h3 class="form-display-name">{{ form.display_name }}</h3>
    {% endif %}
    {% for error in form.non_field_errors %}
      <div class="alert error">{{ error }}</div>
    {% endfor %}
    {% include 'cae_home/include/form_fields.html' %}
    <hr>
  {% endfor %}
{% endif %}


{# Include any additional CSS/JS associated with the form, if any. #}
{{ form.media }}
